$nen-trang: #2c3e50;
$mau-chu: #ecf0f1;

body {
    background-color: $nen-trang;
    color: $mau-chu;
    font-family: Arial, sans-serif;

    h1 {
        color: #060606;
        text-decoration: underline;
    }
    h5 {
        color: #060606;
        text-decoration: underline;
    }
    p {
        color: #060606;
        text-decoration: underline;
    }
}